::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
    height: 5px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: whitesmoke transparent;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: darkgreen;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
}